caption {display:none;}
/* 選單主選項 */
.wdn_responsive_table, .dcf-table {
font-size: 0.85rem;
color: #212529;
width: 100%;
max-width: 100%;
border-collapse: collapse;
border-bottom: 1px solid #e8e8e8; 
border-right: none; 
border-left: none; 
}
/* 第一排選單的樣式 */
.wdn_responsive_table th, .dcf-table th{
width: 25%;
text-align: right;
padding: .5rem;
border-top: 1px solid #e8e8e8;
}
/* 第二層之後的選單樣式 */
.wdn_responsive_table td, .dcf-table td{
width: 75%;
text-align: left;
background-color: #FAF9F5;
padding: .5rem;
border-top: 1px solid #e8e8e8
}
