.main .specs{margin:0 auto;width:1100px;min-width:0;padding-bottom:0;background-color:#fff}
.main .specs h2,.main .specs .section{font-size:22px;font-size:1.1rem;line-height:1.2;font-weight:600;color:#000;width:100%;position:relative;margin:-0.23em 0 -0.4em;padding:100px 0 0.8em 0.45em;text-transform:uppercase;clear:both}
.main .specs h2:first-child,.main .specs .section:first-child{padding-top:0}
.main .specs .section:first-child{border:none !important}
.main .specs table{width:100%;margin-bottom:0.2em}
.main .specs dl{border:none}
.main .specs dt,.main .specs dd{min-height:0;border-top:1px solid #ccc;}
.main .specs tr{border-bottom:1px solid #ccc}
.main .specs tr:first-child{border-top:1px solid #ccc}
.main .specs th,.main .specs dt{font-size:22px;font-size:1.1rem;line-height:1.2;font-weight:100;color:#000;text-align:left;width:45.91836735%;padding:0.45em 2em 0.45em 0.45em;vertical-align:top;border-right:none}
.main .specs td,.main .specs dd{font-size:15px;font-size:.75rem;line-height:1.46666667;font-weight:300;color:#000;text-align:left;width:55.55555556%;padding:.9em 1em .75em 0;vertical-align:top;border-left:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.main .specs dt{width:500px;float:left;clear:both;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.main .specs dd{width:600px;margin-left:0;float:left}
.main .specs .note{text-align:left;margin:.5em .5em -0.25em;padding:0;list-style-type:none}
.main .specs .note li{font-size:13px;font-size:.65rem;line-height:1;font-weight:400;color:#999;position:relative;margin:0.6em 0 0 0}
.main .specs .note li:first-child{margin-top:0}
.main .specs .note li>img{width:50px;height:auto;vertical-align:middle}
.main .specs .note li img+span{margin-left:10px}
.main .specs .comment{font-size:13px;font-size:.65rem;line-height:1;font-weight:400;color:#999;position:relative;margin:0;padding:1.1em 0 0 1em;width:100%}
.main .specs .comment>img{margin-left:0;vertical-align:middle}
.main .specs .comment img+span{margin-left:10px}
.main .specs .comment+.comment{padding-top:0.6em;border:none !important}


.mbig#features .content>section{width:900px;padding-top:0;padding-bottom:1.1em}
.mbig#features .content section{max-height:1000px !important;padding-bottom:1em;background-color:#000;border-bottom:solid 1px #3e3e3e;transition-duration:.5s;-webkit-transition-duration:.5s;-moz-transition-duration:.5s}
.mbig#features .content .row{position:relative;width:100%}
.mbig#features .content .hidden{height:60px !important;padding-top:0;padding-bottom:0;border-bottom:solid 1px #3e3e3e}
.mbig#features .content .hidden h4:after{color:#999}
.mbig#features .content p{font-size:15px;font-size:.75rem;line-height:1.46666667;font-weight:300;color:#000;padding:20px 25px 33px;margin:0 auto 0 !important;background-color:#fff}
.mbig#features .content p+p{min-height:0;margin-top:-0.75em !important;padding-top:0}
.mbig#features .content p+ul{margin-top:-1em !important;padding-top:0}
.mbig#features .content ul{padding:15px 20px 32px 20px;background-color:#fff}
.mbig#features .content li{font-size:14px;font-size:.7rem;line-height:1.57142857;font-weight:300;color:#000;margin-top:0.5em;padding:0 60px 0 .5em}

#features .content{min-width:0;margin:0 auto;padding-top:80px;background-color:transparent;overflow:visible}
.overview{margin:0 auto 80px;width:900px;min-height:100px;padding:40px 40px;background-color:#f2f2f2;border:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.overview ul{margin-bottom:-0.2em;padding:0;background-color:transparent}
.overview li{font-size:15px;font-size:.75rem;font-weight:300;text-indent:-0.8em;margin-top:0.9em;padding:0  0 0 .8em;background-color:transparent}
.overview li:first-child{margin-top:-0.3em}
.overview li:before{content:"â€¢";position:relative;left:0;top:-0.15em;margin-right:0.6em}
.features{margin:0 auto;width:980px;overflow:hidden}
.features.nogrid{overflow:visible}
.features.nogrid li{display:block;margin:5.9em 0 0 42px;padding:0;width:900px;min-width:900px;border:none;clear:both}
.features.nogrid li:first-child{margin-top:0}
.features ul{font-size:0;width:984px;margin-left:-1px}
.features li{display:inline-block;margin-top:0;margin-right:-1px;margin-bottom:0;width:50%;padding:40px 40px 60px 40px;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;vertical-align:top}
.features li h4,#features .content .features li h6{margin-top:-0.3em !important}
.features .row{display:table;width:100%;min-width:900px}
.features .row figure img{margin:8px 0 0 30px}
.features .row figure:first-child img{margin:8px 30px 0 0}
.features .row .col{display:table-cell;vertical-align:top}
.features h4,#features .content .features h6{font-size:24px;font-size:1.2rem;font-weight:300;text-indent:0;line-height:1.25;text-transform:none;margin-top:-0.3em;margin-bottom:1em;padding-bottom:1.36em;border-bottom:1px solid #ccc}
.features h4:first-child,#features .content .features h6:first-child{margin-top:0}
.features p+h4,#features .content .features p+h6{margin-top:2.7em}
.features p{font-size:15px;font-size:.75rem;font-weight:300;line-height:1.46666667;color:#000;padding:0;margin-bottom:-0.5em}


@media screen and (max-width:1100px){#product-hero{width:100%;min-width:320px;height:auto !important;overflow:hidden}
.main .specs,.main .article{width:100%;min-width:320px}
.main .specs{min-width:320px;padding:0 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.main .specs th,.main .specs dt{font-size:20px;font-size:1rem;padding-right:1em;word-break:break-word}
.main .specs td{word-break:break-word}
.main .specs dd,.main .specs dt{width:50%;}

.mbig#features{padding-top:0 !important;margin-bottom:0}
.mbig#features .content{min-width:320px;width:100%;padding-top:80px;padding-left:20px;padding-right:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.mbig#features .content>section{width:auto}
.mbig#features .content .hidden{height:50px !important}
.mbig#features .content h4{font-size:20px;font-size:1rem}
.mbig#features .content h4:after{width:40px}
.mbig #overview{padding-top:80px;height:auto !important}

.mbig #overview .row{padding-left:30px;padding-right:30px}
.mbig #overview h2{font-size:40px;font-size:2rem}
.mbig #overview h2,.mbig #overview p{width:auto}


#features .content{min-width:320px;width:100%}
.overview{width:100%;min-width:320px;padding-left:20px;padding-right:20px}
.features{width:100%;padding:0}
.features ul{width:100%;margin-left:0}
.features li,#features .content .features.nogrid li{margin:0 auto;width:auto;min-width:0;min-height:0;padding:20px;border-left:none;border-right:none;border-top:1px solid #ccc;float:none}
.features.nogrid .row{min-width:0;width:100%}
.features.nogrid .col{display:block}
.features.nogrid .col>img{margin:30px 0 0;width:100%;height:auto}
.features.nogrid .col:first-child>img{margin:20px 0 30px}
}
