body {padding-top: 210px !important;}
/* ------------------ 大小與定位 -- */
.menu{max-width: 100%; margin: auto; background: #6f6f6f; letter-spacing: 0.3rem;}
/* 取消ul預設的內縮及樣式 */
ul {margin: 0; padding: 0; list-style: none;}
/* 取消ul預設的內縮及樣式 */
ul.menu { 
width:auto;
height:auto;
text-align: center;
display: flex;
flex: 1 1 300px;
flex-flow: row wrap;
align-items: flex-start;
justify-content: center;
min-width: 300px;
background: #6f6f6f;
}
/* ------------------------------ */
ul.menu ul {
	position: absolute;
	z-index: 99;
	left: -1px;
	top: 100%;
	left: 99999px;
	opacity: 0;
	transition: opacity 1s;
}
ul.menu li {
	border-width:1px; border-style:solid; border-color:#888;
	background: #888;
	text-decoration: none;
	list-style: none;
	position: relative;
	white-space: nowrap;
}
ul.menu a {
	background-color: #888;
	color: #fff;
	display: block;
	padding: 0.6rem 1rem;
	text-decoration: none;
	line-height: 1rem;
}
/* ------------------------------ */
ul.menu a:hover { /* 滑鼠滑入按鈕變色*/
	background-color: #fff;
	color: #6f6f6f;
}
ul.menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
	display: block;
	background-color: #fff;
	color: #6f6f6f;
}
ul.menu li:hover > ul { /* 滑鼠滑入展開次選單*/
	display: block;
	opacity: 1;
	transition: opacity 1s;
	left: 0px;
	border-right: 5px;
}
/* ---------------------------- 選單滑出 -- */
#barteacher{
z-index: 1;
background: #888;
width:100%;
margin: auto;
position:fixed;
top:164px;
left:0px;
box-shadow: 0px 1px 10px #333; 
}
/* ---------------------------- 解析度 -- */
	@media (max-width: 991px) {
body {padding-top: 150px !important;}
#barteacher{top:50px;}
}
	@media (max-width: 575.98px) {
ul.menu {justify-content: left;}
}
